#endGame{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#egScore{
    margin: 0 auto;
    width: fit-content;
}

#mainScore{
    width: fit-content;
    margin: 0 auto;
    padding: 20px 100px;
    background-color: black;
    border-radius: 5px;
    background-image: url(../img/titleHead.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#mainScore p{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#scoreDetail{
    padding: 10px;
}
.oneScore{
    display: flex;
    gap: 20px;
}
.oneScore p:first-child{
    font-weight: bold;
}

#egButton{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#egButton button{
    background-color: rgb(255, 136, 0);
    border: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    border: solid 1px white;
}
#egButton button:active{
    background-color: orange;
}


#sdTitle {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#sdTitle:before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: #ff7300;
}