<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Collection</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/top.css" />
    <link rel="stylesheet" href="./css/over.css" />
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/soundjs.min.js"></script>
    <script src="./js/colorPlugin.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="VueApp">
      <div id="top" v-show="viewMode==0">
        <div id="titleArea">
          <h1>Star Collection</h1>
          <p style="color: white; margin: none; font-size: 17px">Beta 1.1</p>
        </div>
        <div id="stageArea">
          <div id="stageInfoArea">
            <p>
              目標 :
              {{Object.keys(stage[nowSelectStage].star).length}}個の星を集めよう！
            </p>
            <div id="flexButton">
              <button @click="start(nowSelectStage)">スタート</button>
              <p class="copyRight">© 2023 峡緑</p>
            </div>
            <div id="settings">
              <h3>設定</h3>
              <label>
                FPSを変更
                <input type="range" max="60" min="20" step="1" v-model="fps" />
                {{fps}}FPS
              </label>
              <label>
                デバッグモード <input type="checkbox" v-model="debugMode" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <div id="game" v-show="viewMode==1">
        <div id="dialog">
          <div id="dialogBody" v-show="dialogMes!='-1'">
            <p>{{dialogMes}}</p>
          </div>
        </div>
        <canvas id="app"></canvas>
        <div id="moveKey">
          <button
            @mousedown="moveStart('left')"
            @mouseup="moveEnd('left')"
            @touchstart="moveStart('left')"
            @touchend="moveEnd('left')"
            @mouseleave="moveEnd('left')"
          >
            ←
          </button>
          <button @mousedown="jump()" @touchstart="jump()">↑</button>
          <button
            @mousedown="moveStart('right')"
            @mouseup="moveEnd('right')"
            @touchstart="moveStart('right')"
            @touchend="moveEnd('right')"
            @mouseleave="moveEnd('right')"
          >
            →
          </button>
        </div>
      </div>
      <div id="endGame" v-show="viewMode==2">
        <div id="egFlex">
          <div id="egScore">
            <div id="mainScore">
              <p>スコア : {{scoreInfo.mainScore}}</p>
            </div>
            <div id="scoreDetail">
              <p id="sdTitle">スコア詳細</p>
              <div class="oneScore" v-for="si in scoreInfo.detailScore">
                <p>{{si.name}}</p>
                <p>{{si.value}}</p>
              </div>
            </div>
          </div>
          <div id="egButton">
            <button onclick="window.location.reload()">トップ</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/eventChara.js"></script>
    <script src="./js/mainChara.js"></script>
    <script src="./js/backStage.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
